
<form id="endpoint-form">
</form>

<script data-template-name="index" type="text/x-handlebars">
  <p>
    <label for="url">URL:</label>
    {{input name="url"}}
    {{select "method" fields.methodList method id="method-select"}}
  </p>
  <fieldset>
    <legend>Sources</legend>

  </fieldset>
</script>

<script type="text/javascript" src="/js/endpoint/endpoint.js"></script>
<script type="text/javascript" src="/js/endpoint/models/models.js"></script>
<script type="text/javascript" src="/js/endpoint/routes.js"></script>