<html>
<head>
  <title>Create a new API</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <%= js('lib/all.js') %>
</head>
<body>

  <div id="morphine-ui"></div>

  <script data-template-name="index" type="text/x-handlebars">
    <h1>Endpoints</h1>
    <p>
      <button {{action 'new'}}>+ New Endpoint</button>
    </p>
    {{view Morphine.EndpointTree treeBinding="tree"}}
  </script>

  <script data-template-name="endpoint_tree" type="text/x-handlebars">
    <ul>
      {{#each view.directories}}
        <li>
          {{name}}
          {{#if children}}
            {{view Morphine.EndpointTree treeBinding="children"}}
          {{/if}}
        </li>
      {{/each}}
      {{#each view.endpoints}}
        <li>
          {{#link-to 'edit' endpoint.id}}{{name}}{{/link-to}}
        </li>
      {{/each}}
    </ul>
  </script>

  <script data-template-name="endpoint-editor" type="text/x-handlebars">
    <h1>Create a new API</h1>
    <form>
      <p class="buttons">
        <button {{action "save"}}>Save</button>
      </p>
      <p>
        <label for="url">API URL:</label>
        {{input size="70" valueBinding="path"}}
        {{view Ember.Select
          content=Morphine.http_methods
          valueBinding="method"
        }}
      </p>
      <p>
        <button {{action "addRemote"}}>+ Remote</button>
      </p>
      <ul id="remotes">
      {{#each remotes}}
        {{view Morphine.RemoteView context="this"}}
      {{/each}}
      </ul>
      <fieldset>
        <legend>Response</legend>

        <h3>Pre-processing</h3>
        {{textarea valueBinding="preprocess"}}

        <h3>Template</h3>
        {{textarea valueBinding="response.template"}}
      </fieldset>
      <p class="buttons">
        <button {{action "save"}}>Save</button>
      </p>
    </script>

    <script data-template-name="edit_remote" type="text/x-handlebars">
      <h2>Remote API <button {{action "remove" target="view"}}>&times;</button></h2>
      <p>
        <label>
          <span>URL to remote API</span>
          {{input valueBinding="url"}}
        </label>
        {{view Ember.Select
          content=Morphine.http_methods
          valueBinding="method"
        }}
      </p>
      <p class="name">
        <label>
          <span>ID</span>
          {{input valueBinding="id"}}
        <label>
        <div class="note">
          This is the code name that the response from this feed will be referred to in the global data object that you can use
          in the transformation template.
        </div>
      </p>
      <p class="mime">
        <label>
          <span>Repsponse type</span>
          {{view Ember.Select
            content=Morphine.supported_mimes
            valueBinding="mime"
          }}
        </label>
      </p>
      {{#unless view.isMethodGET}}
        <fieldset class="form-data">
          <legend>Form Data</legend>
          <p>
            {{textarea valueBinding="formData"}}
          </p>
        </fieldset>
      {{/unless}}
      <fieldset class="fixture">
        <legend>Fixture</legend>
        <p>
          Enter an example response body that you expect from the server. You can then use this to test the API endpoint.
        </p>
        <p>
          <label>
            <span>Body</span>
            {{textarea valueBinding="fixture"}}
          </label>
        </p>
      </fieldset>
    </form>
  </script>

  <%= js('/js/morphine/all.js') %>
</body>
</html>