<html>
<head>
  <title>Morphine API builder</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <%= js('lib/all.js') %>
</head>
<body>

  <div id="morphine-ui"></div>

  <script data-template-name="index" type="text/x-handlebars">
    <h1>Endpoints</h1>
    <p>
      <button {{action 'new'}}>+ New Endpoint</button>
    </p>
    {{view Morphine.EndpointTree treeBinding="tree"}}
  </script>

  <script data-template-name="endpoint_tree" type="text/x-handlebars">
    <ul>
      {{#each view.directories}}
        <li>
          {{name}}
          {{#if children}}
            {{view Morphine.EndpointTree treeBinding="children"}}
          {{/if}}
        </li>
      {{/each}}
      {{#each view.endpoints}}
        <li>
          {{#link-to 'edit' endpoint.id}}{{name}}{{/link-to}}
        </li>
      {{/each}}
    </ul>
  </script>

  <script data-template-name="endpoint-editor" type="text/x-handlebars">
    <h1>Create a new API</h1>
    <form>
      <p class="buttons">
        <button {{action "save"}}>Save</button>
      </p>
      <fieldset class="uri">
        <legend>Endpoint URI</legend>
        {{view Ember.Select
          content=Morphine.http_methods
          valueBinding="method"
        }}
        <span class="root-uri"><%= endpoint.rootURI %></span>
        {{input size="70" valueBinding="path" placeholderLabel="API URL"}}
      </fieldset>
      <fieldset class="remotes">
        <legend>Remote Servers</legend>

        <nav>
          <button {{action "addRemote"}}>+ Remote</button>
          <ul id="remote-ids">
          {{#each remotes}}
            <li>{{id}}</li>
          {{/each}}
          </ul>
        </nav>

        {{#each remotes}}
          {{view Morphine.RemoteView context="this"}}
        {{/each}}
      </fieldset>
      <fieldset class="response">
        <legend>Response</legend>

        <h3>Pre-processing</h3>
        <p>
          JavaScript that processes and updates the <code>data</code> object
        </p>
        {{view Morphine.AceEditor valueBinding="preprocess"}}

        <h3>Template</h3>
        <p>
          A handlebars template that defines the body of the response.
        </p>
        {{view Morphine.AceEditor valueBinding="response.body" language="handlebars"}}
      </fieldset>
      <p class="buttons">
        <button {{action "save"}}>Save</button>
      </p>
    </script>

    <script data-template-name="edit_remote" type="text/x-handlebars">
      <h2>Remote API</h2>

      <div class="id">
        {{input valueBinding="id" placeholder="Remote ID"}}
        <button {{action "remove" target="view"}}>&times;</button>
      </div>
      <p>
        {{view Ember.Select
          content=Morphine.http_methods
          valueBinding="method"
        }}
        {{input valueBinding="url" placeholder="URL to remote API"}}
      </p>
      {{#unless view.isMethodGET}}
        <fieldset class="form-data">
          <legend>Form Data</legend>
          <p>
            {{textarea valueBinding="formData"}}
          </p>
        </fieldset>
      {{/unless}}
      <div class="fixture">
        <h3>Dummy data</h3>
        <p>
          Enter an example of what is expected from this remote server call.
        </p>
        <div class="fixture-body">
        {{#with fixture}}
          {{view Ember.Select
            content=Morphine.supported_mimes
            valueBinding="mime"
          }}
          {{view Morphine.AceEditor valueBinding="body"}}
        {{/with}}
        </div>
      </div>
    </form>
  </script>

  <%= js('/js/morphine/all.js') %>
</body>
</html>