<html>
<head>
   <title>{{title}}</title>
   <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
   <script type="text/javascript" src="/js/lib/jquery.js"></script>

   <script type="text/javascript" src="/js/lib/handlebars.js"></script>
   <script type="text/javascript" src="/js/lib/ember.js"></script>
   <script type="text/javascript" src="/js/lib/ember-data.js"></script>
</head>
<body>
   {{{body}}}
</body>
</html>